@charset "UTF-8";
/* CSS Document */
h1 {
	color: Red;
	text-transform: uppercase;
	font-size: 200%;
	text-align:center;
}

body { 
	height: 100%;
	background-color:#C9C9C9;
	display: block;
	margin: 10px;
	border-style: groove;
	border-color: #bbbbaa #111111 #ee3e80 #0088dd;
	padding-top: 10px;
	padding-right: 30px;
	padding-bottom:30px;
	padding-left: 80px;
}

	ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   
}

li {
    float: inherit;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: red;
}.active {
    background-color: blue;
}
